<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<div class="container">
<h2> My Gear: </h2>
<table class="table table-hover table-condensed">
<thead>
  <tr>
    <th>Name </th>
    <th>Description </th>
    <th>Image </th>
    <th>Available</th>
    <th>Link </th>
    <th>Remove</th>
  </tr>
</thead>

<% @items.each do |item| %>
<tbody>
  <tr>
    <td> <%= item.name  %></td>
    <td> <%= item.description  %></td>
    <td> <%= link_to image_tag(item.image.url(:small)), item.image.url %> </td>
      <% if item.approved %>
        <td> reserved </td>
      <% else %>
        <td> available </td>
      <% end %>
    <td> <%= link_to 'View', item_path(item), class: "btn btn-default btn-xs" %> </td>
    <td> <%= link_to 'Delete', item_path(item), class: "btn btn-warning btn-xs",
              method: :delete,
              data: {confirm: 'Are you sure?' } %> </td>
  </tr>
<% end %>
</tbody>
</table>
</div>

<div class="container">
  <h2> Gear You Have Requested: </h2>
  <table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th> Day         </th>
      <th> City        </th>
      <th> Item        </th>
      <th> Description </th>
      <th> Link </th>
      <th> Status </th>

    </tr>
  </thead>

  <% @reservations.each do |res| %>
  <tbody>
    <tr>
      <td> <%= res.day %> </td>
      <td> <%= res.city %></td>
      <td> <%= res.item.name %></td>
      <td> <%= res.item.description %></td>
      <td> <%= link_to 'Show', "/items/#{res.item.id}/reservations/#{res.id}", class: "btn btn-default btn-xs"  %> </td>
       <% if res.item.approved %>
        <td> approved </td>
       <% else %>
        <td> pending</td>
       <% end %>
    </tr>
  <% end %>
</tbody>
</table>
</div>


<div class="container">
<h2> Your Gear That Has Been Requested: </h2>
<table class="table table-hover table-condensed">
<thead>
  <tr>
    <th> Day          </th>
    <th> City         </th>
    <th> Item         </th>
    <th> Description  </th>
    <th> Requested by:</th>
    <th> Link         </th>
    <th> Status       </th>
  </tr>
</thead>

<% @requests.each do |req| %>
<tbody>
  <tr>
    <td> <%= req.day %> </td>
    <td> <%= req.city %></td>
    <td> <%= req.item.name %></td>
    <td> <%= req.item.description %></td>
    <td> <%= req.renter.first_name %> </td>
    <td> <%= link_to 'Conversation', "/items/#{req.item.id}/reservations/#{req.id}", class: "btn btn-default btn-xs"  %> </td>

     <% if req.item.approved %>
       <td> approved </td>
       <td><%= link_to "returned?", item_path(req.item), class: "btn btn-info btn-xs",
                method: :put,
                data: {confirm: 'Are you sure?' }%> </td>
     <% else %>
       <td><%= link_to "approve?", item_path(req.item), class: "btn btn-info btn-xs",
                method: :put,
                data: {confirm: 'Are you sure?' }%> </td>
     <% end %>
  </tr>
<% end %>
</tbody>
</table>
</div>
</body>
</html>
