<div id='form'>
  <% if user_signed_in? %>
    <%= form_for Task.new || @task, url: {controller: "tasks", action: "create"}, html: {:id => "items-form"}, remote: true do |f| %>
      <h3>Gear I Need:</h3>
      <%= f.text_field :content %>
      <%= f.submit "Add Task", class: "btn btn-success btn-xs" %>
    <% end %>

  <div id="listed-items">
    <% @tasks.each do |task| %>
    <div id="item">
      <%= link_to image_tag("orange.png", size: '15'), task_path(task), method: :delete, remote: true, :class => "delete-task" %>
      <%= task.content %><br>
    </div>
    <% end %>
  <% end %>
  </div>
</div>
