<!DOCTYPE html>
<html>
<head>
  <title>All Users</title>
</head>
<body>
  <h1>Users with items :)</h1>

  <% @users.each do |user| %>
  <%= link_to "#{user.first_name}", user_path(user)  %>
<iframe width="400" height="400" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=<%= user.location %>&key=AIzaSyABZ3-JpMlz3RG2Aw2r8diLnDs1ShsItKw" allowfullscreen></iframe>

 <table>
  <tr>
    <th> Name: </th>
    <th> description </th>
  </tr>

<% user.items.each do |item| %>
  <tr>
    <td> <%= item.name %> </td>
    <td> <%= item.description %> </td>
    <td> <%= link_to 'View', item_path(item) %> </td>
    <td> <%= link_to image_tag(item.image.url(:small)), item.image.url %> </td>
    <td> <%= link_to 'Reserve', new_item_reservation_path(item) %> </td>
  </tr>
<% end %>
</table>
<% end %>

</body>
</html>



