<!DOCTYPE html>
<html>
<head>
	<title>List Item</title>
</head>
<body>

<%= form_tag(users_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search By User" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>


<% @users.each do |user| %>

  <%= link_to "#{user.username}", user_path(user),  class:"btn btn-default btn-xs", style: "width: auto" %><%=" has "%><%= user.items.count %><%=" items available"%><br>
  <%= current_user.distance_to(user.location).round(2)%><%= " is miles away" %><br>

<% end %><br>
<%= link_to users_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> All Users
<% end %>

</body>
</html>
