<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<h1>  <%= link_to image_tag(@user.avatar.url(:thumb)), @user.avatar.url %> <%=@user.first_name%>
<% @user.average_rating.times do %>
  <%= image_tag 'firepit.png', size: "30x30", :title => 'fire_pit' %>
<% end %>
 </h1>

<p> <%=@user.first_name%>'s available items: <p>

<div class="container">
<table class="table">
<thead>
  <tr>
    <th> Name </th>
    <th> description </th>
  </tr>
</thead>

<% @items.each do |item| %>
<% if item.approved == false %>
<tbody>
  <tr>
    <td> <%= item.name %> </td>
    <td> <%= item.description %> </td>
    <td> <%= link_to 'View', item_path(item) %> </td>
    <td> <%= link_to image_tag(item.image.url(:large)), item.image.url %> </td>
    <td> <%= link_to 'Reserve', new_item_reservation_path(item) %> </td>
  </tr>
<% end %>
</tbody>
<% end %>
</table>



<h1> <%=@user.first_name %>'s reviews:</h1>
<table class="table">
<thead>
  <tr>
    <th>Username</th>
    <th>Title   </th>
    <th>Body    </th>
    <th>Rating  </th>
  </tr>
</thead>

<% @reviews.each do |review| %>
<tbody>
  <tr>
    <td> <%= link_to "#{review.reviewer.first_name}", user_path(review.reviewer.id)  %>    </td>
    <td> <%= review.title %> </td>
    <td> <%= review.body %> </td>
    <td> <%= review.rating %> </td>
  </tr>
<% end %>
</tbody>
</table>

<%= link_to 'Back' , users_path %>

 <%= link_to "Leave #{@user.first_name} a review", new_user_review_path(@user) %>
</body>
</html>
