<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<h1> <%=@user.first_name%>  5 fire rating </h1>

<p> <%=@user.first_name%>'s items: <p>


<div class="container">
<table class="table">
<thead>
  <tr>
    <th> Name </th>
    <th> description </th>
  </tr>
</thead>

<% @items.each do |item| %>
<tbody>
  <tr>
    <td> <%= item.name %> </td>
    <td> <%= item.description %> </td>
    <td> <%= link_to 'View', item_path(item) %> </td>
    <td> <%= link_to image_tag(item.image.url(:large)), item.image.url %> </td>
    <td> <%= link_to 'Reserve', new_item_reservation_path(item) %> </td>
  </tr>
<% end %>
</tbody>
</table>

<%= link_to 'Back' , users_path %>

</body>
</html>
