<%= form_with scope: :reservation, url: "/items/#{@item.id}/reservations", local: true do |form| %>

<div class="field form-group">
  <%= form.label :day, class:'col-sm-4 control-label ' %>
    <div class="col-sm-8">
      <%= form.text_field :day, class: 'form-control' %>
    </div>
</div>

<div class="field form-group">
  <%= form.label :city, class: 'col-sm-4 control-label' %>
  <div class="col-sm-8">
    <%= form.text_field :city, class: 'form-control'  %>
  </div>
</div>


<div class="field form-group">
  <%= form.label :message, class: 'col-sm-4 control-label' %>
  <div class="col-sm-10">
    <%= form.text_field :message, class: 'form-control' %>
  </div>
</div>


<div class="actions form-group">
  <div class="col-sm-offset-2 col-sm-10">
  <%= form.submit %>
  </div>
</div>


<% end %>
