<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<table>
  <tr>
    <th>Name </th>
    <th>Description </th>
  </tr>
<% @reservations.each do |reservation| %>
  <tr>
    <td> <%= reservation.name  %></td>
    <td> <%= reservation.description  %></td>
    <td> <%= link_to 'Show', reservation_path(reservation) %> </td>
    <td> <%= link_to 'Edit', edit_reservation_path(reservation) %> </td>
    <td> <%= link_to 'Delete', reservation_path(reservation),
              method: :delete,
              data: {confirm: 'Are you sure?' } %> </td>
  </tr>
<% end %>
</table>

  <p> <%= link_to 'New', new_reservation_path %> </p>
</body>
</html>
