<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<div class="reservation-wrapper">
  <h2><%= @item.name %></h2>

  <ul class="list-group col-sm-9">
    <li class="list-group-item"><span class="item-detail">Description:</span><%= @item.description %></li>
    <li class="list-group-item"><span class="item-detail">Date:</span><%= @reservation.day %></li>
    <li class="list-group-item"><span class="item-detail">Requester Location:</span><%= @reservation.city %></li>
    <li class="list-group-item"><span class="item-detail">Note:</span><%= @reservation.message %> </li>
  </ul>

   <% @dialogs.each do |dialog| %>
    <% if (current_user.id == dialog.user_id) || (current_user.id == dialog.renter_id) %>
      <div class="container-dialog col-sm-9">
        <span class="dialog-author"><%= dialog.username %>:</span>
        <p>"<%= dialog.body %>"</p>
        <span class="timestamp"><%= dialog.updated_at %></span>
      </div>
    <% else %>
      <div class="container-dialog darker col-sm-9">
        <span class="dialog-author"><%= dialog.username %>:</span>
        <p>"<%= dialog.body %>"</p>
        <span class="timestamp"><%= dialog.updated_at %></span>
      </div>
    <% end %>
  <% end %>

  <div class="form-group">
    <!-- <div class="col-sm-10"> -->
      <%= render 'dialog' %>
      <%= link_to 'Back', profile_path(current_user.id) %>
    <!-- </div> -->
  </div>
</div>

</body>
</html>
