<%= form_for(reservation, as: resource_reservation, url: item_reservations_path(resource_item), html: {multipart: true, class: 'form-horizontal form-signin'}) do |f|%>

  <h2 class="form-signin-heading">Reserve item</h2>

  <div class="field form-group">
    <%= f.label :day, class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :day, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :city, class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_area :city, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :message, class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_area :message, class: 'form-control' %>
    </div>
  </div>

  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-success btn-lg btn-block" %>
    </div>
  </div>
<% end %>
