<%= form_with model: @item, html: {multipart: true}, local: true do |form| %>

<p>
  <%= form.label :name %> <br>
  <%= form.text_field :name %>
</p>

<p>
  <%= form.label :description %> <br>
  <%= form.text_field :description %>
</p>

<p>
  <%= form.submit %>
</p>

<% end %>
