<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<%= form_tag(items_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Available Gear" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<h1 style="color: white">Available Gear</h1>

<% if @items.blank? %>
  <h4>There is no gear containing the term <%= params[:search] %>.</h4>
<% end %>

<div class="row">
<% @items.each do |item| %>
  <% if item.approved == false %>
    <div class="col-sm-6">
    <div class="card" style="width: auto; color: white">
      <div class="card-header"><%= item.name  %></div>
      <img class="card-img-top" src="<% item.image.url(:large) %>" alt="Card image cap">
        <div class="card-block">
          <p class="card-date"><%= item.created_at.strftime("%A, %b %d") %></p>
          <p class="card-text"><%= item.description  %></p>
            <div class="card-block text-center">
              <a class="card-link" style="width: auto; color: white;"><%= link_to 'Reserve', new_item_reservation_path(item), class: "btn btn-default btn-xs", style: "width: auto" %></a>
              <a class="card-link" style="width: auto; color: white;"><%= link_to 'More Info', item_path(item), class: "btn btn-default btn-xs", style: "width: auto" %></a>
            </div>
        </div>
    </div>
  </div>
  <% end %>
<% end %>
</div>


<%= link_to new_item_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Post New Item
<% end %>
<%= link_to items_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Back to Items
<% end %>
</body>
</html>
