  <!DOCTYPE html>
    <html>
      <head>
       <title></title>
          <%= stylesheet_link_tag 'profiles' %>
      </head>
<body>
  <div class="container" id ="nav">
    <div class="row">
      <div class="tabs-left text-center">
        <ul class="nav nav-tabs">
          <li class="active"> <a href="#a" data-toggle="tab" class="btn btn-warning">Available Gear</a></li>
          <li><a href="#b" data-toggle="tab" class="btn btn-warning">Post New Item</a></li>
        </ul>
        </div>
            <div class="tab-content">
              <div class="tab-pane active" id="a">
                <ul class="list-group pull-left text-center">
                  <% if @items.blank? %>
                    <h4>There is no gear containing the term <%= params[:search] %>.</h4>
                  <% end %>
                  <% @items.each_slice(3) do |item_group| %>
                    <div class="row">
                      <% item_group.each do |item| %>
                        <div class="col-md-4">
                        <li class="list-group-item">
                        <% if item.approved%>
                        <% else %>
                            <div class="card" id="profile-card">
                              <img class="card-img-top" src=<%= link_to image_tag(item.image.url(:large)), item.image.url %>
                              <div class="card-block cb">
                                <p><%= "Posted: "%><%= item.created_at.strftime("%A, %b %d") %></p>
                                <a> <%= link_to image_tag("More-Info-Button.png", size: '100x40'), item_path(item), class: "show-item-button"%> </a>
                              <div class="append-show"><b><%="Description: "%></b><%= item.description %><br>
                                <iframe width="200" height="200" frameborder="0" style="border:0"
                                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBnrDAazGk_GCygyfvQb_xSFfEMhdT2ZK8&q=<%= item.user.location %>" allowfullscreen></iframe><br>
                                  <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modalReserve-<%=item.id%>">Reserve</button>
                                  <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modalOwner-<%=item.id%>">Owner</button>
                                   <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modalView-<%=item.id%>">View</button>  </div>
                                </div>
                              </div>
                          <% end %>
                        </li>
                      </div>
                        <!-- Modal Owner -->
                        <div id ="modalOwner-<%=item.id %>" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                        <!--Modal Owner content -->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"><%= image_tag(item.user.avatar.url(:thumb))%> <%=item.user.username %> <% item.user.average_rating.times do %>
                                  <%= image_tag 'firepit.png', size: "30x30", :title => 'fire_pit' %>
                                  <% end %>
                                  <a><%= link_to 'Leave a Review', new_user_review_path(item.user), class: "btn btn-default btn-xs" %></a>
                               </h4>
                              </div>
                              <div class="modal-body">
                                <% item.user.reviews.each do |review| %>
                                  <h4 class="ct"> <%= review.reviewer.username %>
                                    <% review.rating.times do |review| %>
                                    <%= image_tag 'firepit.png', size: "30x30", :title => 'fire_pit' %>
                                    <% end %>
                                    <%=review.body%>
                                  </h4>
                                 <% end %>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default btn-xs" data-dismiss="modal"> Close</button>
                              </div>
                            </div>
                          </div> <!-- Modal Dialog -->
                        </div> <!-- myModal -->
                      <!-- Modal Reserve -->
                        <div id ="modalReserve-<%=item.id%>" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                        <!--Modal Reserve content -->
                            <div class="modal-content">
                              <div class="modal-body">
                                <%= form_for(reservation, as: resource_reservation, url: item_reservations_path(item.id), html: {multipart: true, class: 'form-horizontal form-signin'}) do |f|%>
                                      <h2 class="form-signin-heading">Reserve item</h2>
                                      <div class="field form-group">
                                        <%= f.label :day, class: 'col-sm-3 control-label' %>
                                        <div class="col-sm-9">
                                          <%= f.text_field :day, class: 'form-control' %>
                                        </div>
                                      </div>
                                      <div class="field form-group">
                                        <%= f.label :city, class: 'col-sm-3 control-label' %>
                                        <div class="col-sm-9">
                                          <%= f.text_area :city, class: 'form-control' %>
                                        </div>
                                      </div>
                                      <div class="field form-group">
                                        <%= f.label :message, class: 'col-sm-3 control-label' %>
                                        <div class="col-sm-9">
                                          <%= f.text_area :message, class: 'form-control' %>
                                        </div>
                                      </div>
                                        <div class="actions form-group">
                                          <div class="col-sm-offset-2 col-sm-10">
                                            <%= f.submit "Request Reservation", class: "btn btn-success btn-lg btn-block" %>
                                          </div>
                                        </div>
                                      <% end %>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal"> Close</button>
                                      </div>
                                    </div>
                                  </div> <!-- Modal Dialog -->
                                </div> <!-- myModal -->
                                <!-- Modal View -->
                                  <div id ="modalView-<%=item.id %>" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                  <!--Modal View content -->
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title"> <%= image_tag(item.image.url(:large))%> </h4>
                                        </div>
                                        <div class="modal-body">
                                          <p><%= item.description %></p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-default btn-xs" data-dismiss="modal"> Close</button>
                                        </div>
                                      </div>
                                    </div> <!-- Modal Dialog -->
                                  </div> <!-- myModal -->
                              <% end %>
                            </div>
                          <% end %>
                        </ul>
            </div>
              <div class="tab-pane" id="b">
                <ul class="list-group pull-left text-center">
                    <li class="list-group-item"
                      <div class="card">
                        <div class="card-block cb">
                          <%= render 'formt' %>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div><!-- /tab-content -->
            </div><!-- /row -->
          </div><!-- /container -->
        </div>
</body>
</html>
