<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<h1><%= @item.name%></h1>
<div class="item-links">
  <%= link_to new_item_path, class: 'btn btn-warning' do %>
    <i></i> Post New Item
  <% end %>
  <%= link_to profile_path(current_user.id), class: 'btn btn-warning' do %>
    <i></i> Back to Profile
  <% end %>
  <%= link_to items_path, class: 'btn btn-warning' do %>
    <i></i> List All Items
  <% end %>
</div>

<div class ="col-md-offset-3">
  <%= image_tag(@item.image.url, :size => "auto", class: "image-item-show") %>
</div>


<div class="item-show-footer">
  <h3><%= @item.description %></h3>
  <%= link_to 'Reserve', new_item_reservation_path(@item), class: "btn btn-default btn-xs" %>
  <%= link_to 'Contact Owner', profile_path(@item), class: "btn btn-default btn-xs" %>
</div>
</body>
</html>
