<!DOCTYPE html>
<html>
  <head>
    <title>GearShare</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <style>
      body {
        font-family: 'Lato';
      }
    </style>
  </head>
  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= render 'shared/navigation' %>
    <div id="main-container" class="container">
      <div class="row">
        <div id="content" class="col-xs-12">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
