<!DOCTYPE html>
<html>
  <head>
    <title>GearShare</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      body {
        font-family: 'Lato';
      }
      .notice {
        margin-bottom: 0;
      }
    </style>
  </head>
  <body>
    <%= render 'shared/navigation' %>
    <% if current_page?(root_path) %>
      <%= render 'layouts/home_header' %>
      <%= render 'layouts/home_body' %>
      <%#= render 'layouts/story' %>
      <%#= render 'layouts/videocontainer' %>
    <% else %>
      <p class="alert"><%= alert %></p>

      <div id="main-container" class="container">
      <p class="notice"><%= notice %></p>
        <div class="row">
          <div id="content" class="col-xs-12">
            <%= yield %>
          </div>
        </div>
      </div>


    <% end %>





  </body>
</html>
